# local package
-e .

# external requirements
numpy
scipy
pandas
matplotlib
plotly
seaborn
bokeh
statmodels
imbalanced-learn
sklearn
xgboost
lightgbm
catboost
tensorflow
keras
GitPython
cookiecutter
jupyterlab
